apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluid-simulation
  namespace: triangular
spec:
  selector:
    matchLabels:
      app: fluid-simulation
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: fluid-simulation
    spec:
      containers:
        - name: fluid-simulation-example-app
          image: registry.akehir.com:443/triangular/fluid-simulation/fluid-simulation-example-app:develop-179a3719-1768828841 # {"$imagepolicy": "triangular:fluid-simulation-example-app-image-policy"}
          imagePullPolicy: Always
          ports:
            - containerPort: 8811
      imagePullSecrets:
        - name: deploy-triangular
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - arm64
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: module
                    operator: In
                    values:
                      - fluid-simulation
              topologyKey: "kubernetes.io/hostname"
