<main>
  <h1>{{ title }}</h1>
  <section>
    <p>If you want to use a fancy WebGL fluid simulation in your Angular App, this small demo can get you started.</p>
    <p>You can see the component running in the background of this example app. Press <strong>p</strong> to toggle the pause, and press <strong>s</strong> to download a screenshot of the simulation. Press <strong>w</strong> to create more splashes.</p>
  </section>
  <section>
    <h2>Example</h2>
    <webgl-fluid-simulation></webgl-fluid-simulation>

  </section>

  <section>
    <h2>Source Code</h2>
    <p>
      The source code is published at <a href="https://git.akehir.com/akehir/fluid-simulation">akehir.com</a> and mirrored on <a href="https://github.com/akehir/fluid-simulation">Github</a>.
    </p>
    <p>The package ist published to npm at <a href="https://www.npmjs.com/package/@triangular/fluid-simulation">&#64;triangular/fluid-simulation</a>.</p>
  </section>
  <section>
    <h2>License</h2>
    <p>This project is licensed under the MIT License</p>
  </section>
</main>
